<h2>Request to reset password for <%= @user.name %> at <%= APP_NAME %> </h2>
<p>
  Someone requested a password reset on <b><%= @user.email %></b> to your <%= APP_NAME %> account.
  If you didn't make this request, then <a href="<%= @secure_account_url %>">Click here</a>. If you did make this request, simply click below to change your password.
</p>
<div>
   <a href="<%= @reset_password_url %>">Change Password</a>.
</div>
<p>This email is valid only for a short period of time and will expire upon first use.</p>
